body {
    font-family: Arial, sans-serif;
}
#field {
    font-size: 16px;
    padding: 8px;
    margin-bottom: 10px;
}
#messageList {
    list-style-type: none;
    padding: 0;
}
.messageItem {
    font-size: 18px;
    margin-bottom: 5px;
}